:root {
  --branding-color: rgb(185, 101, 23);
  --secondary-color: rgb(207, 197, 188);
  --heading-font-family: 'Playfair Display', sans-serif;
  --default-font-family: 'Poppins', sans-serif;
}

body {
  background: #F8EDE0;
}

.introduction h1, h2 {
  margin-top: 25px;
}
.introduction h1 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  text-align: center;
  padding: 30px;
}

.introduction h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
text-align: center;
  font-weight: bolder;
padding: 10px; 
}

.content  {
  padding: 160px 20px;
}



.content h1 {
font-size: 64px;
line-height: 60px;
font-family: var(--heading-font-family);
margin-top: 25px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bolder;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bolder;

}
.content p {
  font-family: var(--default-font-family);
  font-size: 14px;


}
.hero {
  background: var(--secondary-color);
text-align: center;

}

.index-btn {
background: var(--branding-color);
border-radius: 4px;
color: white;
font-size: 15px;
line-height: 20px;
padding: 10px 18px;
border-width: 3;
margin-left: 0px;
margin-bottom: 30px;
margin-right: 10px; 
margin-top: 20px;

}

.index-btn:hover {
  background: white;
  color: var(--branding-color);
}
.projects-title {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 30px;
}



@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    
  }

  h2 {
    font-size: 20px;
  }

  .hero {
    padding: 80px 20px;
  }

.project-description {
    padding: 0;
    text-align: center;
  }

.index-btn {
font-size-adjust: 10px;

}

.content {
  text-align: center;
  padding:0;
}

p {

    text-align: center;
  padding:0;
}