:root {
  --branding-color: rgb(185, 101, 23);
  --secondary-color: rgb(207, 197, 188);
  --heading-font-family: 'Playfair Display', sans-serif;
  --default-font-family: 'Poppins', sans-serif;
}

body {
  background: #F8EDE0;
}

h1, h2 {
  margin-top: 25px;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 60px;
  text-align: center;
  padding: 30px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 30px;
text-align: center;
  font-weight: bolder;
padding: 10px; 
}

p {
  font-family: var(--default-font-family);
  font-size: 12px;
  text-align: center;
  padding: 10px;
}
.hero {
  background: var(--secondary-color);
text-align: center;

}

.index-btn {
background: var(--branding-color);
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 12px 20px;
border-width: 0;
margin-left: 0px;
margin-bottom: 30px;

}

.index-btn:hover {
  background: white;
  color: var(--branding-color);
}
.projects-title {
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 30px;
}

.btn-projects {
  background: var(--branding-color);
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 12px 20px;
border-width: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    
  }

  h2 {
    font-size: 20px;
  }

  .hero {
    padding: 80px 20px;
  }

.project-description {
    padding: 0;
    text-align: center;
  }

.index-btn {
font-size-adjust: 10px;

}