:root {
  --branding-color: rgb(185, 101, 23);
  --secondary-color: rgb(207, 197, 188);
  --heading-font-family: 'Playfair Display', sans-serif;
  --default-font-family: 'Poppins', sans-serif;
}

body {
  background: #F8EDE0;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 60px;
  text-align: left;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: right;
}

.hero {
  background: var(--secondary-color);
text-align: center;
}

.index-btn {
background: var(--branding-color);
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 12px 20px;
border-width: 0;
}

.index-btn:hover {
  background: white;
  color: var(--branding-color);
}